@model IEnumerable<DemoAspNetMvc01.Domain.Model.User>

<p>Users</p>
<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "Index", "Post", new { user_id = item.Id}, null)</li>
    }
</ul>